/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #333;
    color: #fff;
}

.about, .projects {
    padding: 30px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    position: relative;
    flex-basis: calc(50% - 15px);
    margin-bottom: 30px;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.project:hover .project-image img {
    transform: scale(1.1);
}

.project-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.project:hover .project-details {
    transform: translateY(0);
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
